<table>
  <tr>
    <td style="padding: 0 0 10px 0">
      <p>
        Your submission has been ingested into the CMAP database!
      </p>
    </td>
  </tr>
  <tr>
    <td style="border-left: 2px solid #22a3b9; font-weight: bold; padding: 0 10px">
      <p>
        {{datasetName}}
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 0">
      <p>
        You can now view your dataset in the <a href="https://simonscmap.com/catalog" target="_blank">Data Catalog</a>.
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding: 10px 0">
      <p>
        Thank you for contributing to Simons CMAP!
      </p>
    </td>
  </tr>
</table>
