<table>
  <tr>
    <td style="padding: 0 0 10px 0">
      <p>
        Your submission has been approved for ingestion!
      </p>
    </td>
  </tr>
  <tr>
    <td style="border-left: 2px solid #22a3b9; font-weight: bold; padding: 0 10px">
      <p>
        {{datasetName}}
      </p>
    </td>
  </tr>
  <tr>
    <td  style="padding: 0 0 10px 0">
      <p>
        The next step is to obtain and submit a DOI for this data. More information on DOIs is available <a href="https://simonscmap.com/datasubmission/guide#faq-doi" target="_blank">here</a>.
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding: 0 0 10px 0">
      <p>
        Once you've obtained a DOI please submit it using the messaging feature on the <a href="https://simonscmap.com/datasubmission/userdashboard?datasetName={{datasetName}}" target="_blank">dashboard</a>.
     </p>
    </td>
  </tr>
</table>
